allow system_app baseband_prop:file read;
allow system_app installd:binder call;
allow system_app netd:binder call;
allow system_app storaged:binder call;
allow system_app wificond:binder call;
